h1 {
  text-align: center;
}

body {
  background-color: rgb(255, 78, 58);
}

#projects {
  text-align: center;
  text-decoration: underline;
}

.col-6 {
  font-size: medium;
  text-align: left;
  padding: 5%;
}

#me {
  max-width: fit-content;
  max-height: 425px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

.about {
  border-style: solid;
  margin-left: 15%;
  margin-top: 5%;
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  float: left;
}
.highlights {
  background-color: rgb(255, 0, 0);
}

.background {
  text-align: left;
  border-style: solid;
  margin-right: 15%;
  margin-top: 5%;
  padding: 5px;
  font-size: large;
  font-family: sans-serif;
  float: right;

}