h1 {
  text-align: center;
}

#projects {
  text-align: center;
}

.col-6 {
  font-size: medium;
  text-align: left;
}

#me {
  max-width: fit-content;
  max-height: 350px;
  margin: 10px;
}

.highlights {
  background-color: rgb(255, 0, 0);
}