.header {
  text-align: center;
  margin-top: 2%;
}

body {
  background-color: rgb(255, 78, 58);
  font-weight: bold;
}

#projects {
  text-align: center;
  text-decoration: underline;
}

.col-12 {
  font-size: large;
  text-align: left;
  padding: 1%;
  border-style: solid;
  margin-bottom: 5%;
  margin-top: 5%;
}

.img-fluid {
  max-width: 33%;
  max-height: 400px;
  margin-left: 10%;
  margin-right: 5%;
  padding: 2px;
  border-style: solid;
  float: left;
}

.about {
  text-align: left;
  font-size: large;
  margin-bottom: 5%;
}

.highlights {
  background-color: rgb(255, 0, 0);
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.col-4 {
  text-align: left;
  font-size: large;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

h4 {
  text-decoration: underline;
  text-align: center;
}